#pane {
    -fx-background-image: url("online-wallpaper-store-purchase-safely-from-an-online-flag-store.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}